<div class="login-form-block" style="display: none;">
    <div class="popup-login-form">
        <h3>LOGIN TO YOUR ACCOUNT</h3>
        <p>Don't have an account yet?<a href="#">Register Now!</a></p>
        <div class="field-username">
            {{ form.username }}
        </div>
        <div class="field-password">
            {{ form.pass }}
        </div>
        <div class="field-remember">
            {{ form.remember }}
        </div>
        <div class="field-login-submit">
            {{ form.login }}
        </div>
        <ul>
            <li><a href="#">Forgot your password?</a></li>
            <li><a href="#">Forgot your username?</a></li>
        </ul>
    </div>

</div>
